<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>GameInquiry</servlet-name>
        <servlet-class>com.rostifar.servlets.ScrabbleInquiryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameInquiry</servlet-name>
       <url-pattern>/GameInquiry/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>com.rostifar.servlets.AddPlayerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartNewGameServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.StartNewGameServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartNewGameServlet</servlet-name>
        <url-pattern>/StartNewGame/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResumeGameServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.ResumeGameServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResumeGameServlet</servlet-name>
        <url-pattern>/ResumeGame/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PlayWord</servlet-name>
        <servlet-class>com.rostifar.servlets.PlayWordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayWord</servlet-name>
        <url-pattern>/PlayWord/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartScrabbleGame</servlet-name>
        <servlet-class>com.rostifar.servlets.StartScrabbleGameServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartScrabbleGame</servlet-name>
        <url-pattern>/StartGame/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetLettersOnRack</servlet-name>
        <servlet-class>com.rostifar.servlets.GetPlayerRackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetLettersOnRack</servlet-name>
        <url-pattern>/GetLettersOnRack/*</url-pattern>

    </servlet-mapping>

   <!-- <servlet>
        <servlet-name>ExchangeLettersServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.ExchangeLettersServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExchangeLettersServlet</servlet-name>
        <url-pattern>/ExchangeLetters/*</url-pattern>
    </servlet-mapping>-->

    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/takeTurn/*</url-pattern>
    </servlet-mapping>
</web-app>