<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>WordsWithBytes</display-name>

    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>com.rostifar.servlets.AddPlayerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StartNewGameServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.StartNewGameServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartNewGameServlet</servlet-name>
        <url-pattern>/StartNewGame/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>JoinExistingGameServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.JoinExistingGameServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>JoinExistingGameServlet</servlet-name>
        <url-pattern>/JoinExistingGame/*</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PlayWord</servlet-name>
        <servlet-class>com.rostifar.servlets.PlayWordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayWord</servlet-name>
        <url-pattern>/PlayWord/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangeGameStateServlet</servlet-name>
        <servlet-class>com.rostifar.servlets.ChangeGameStateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangeGameStateServlet</servlet-name>
        <url-pattern>/ChangeGameState/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
        <init-param>
            <param-name>WordsWithBytes-transport</param-name>
            <param-value>websocket, xhr-polling, jsonp-polling</param-value>
        </init-param>
        <init-param>
            <param-name>WordsWithBytes-heartbeat</param-name>
            <param-value>150000</param-value>
        </init-param>
        <init-param>
            <param-name>WordsWithBytes-suspendTime</param-name>
            <param-value>300000</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>

    <servlet-mapping>
        <servlet-name>AtmosphereServlet </servlet-name>
        <url-pattern>/WordsWithBytes/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>Index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>GetLettersOnRack</servlet-name>
        <servlet-class>com.rostifar.servlets.GetPlayerRackServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetLettersOnRack</servlet-name>
        <url-pattern>/GetLettersOnRack/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExchangeLetters</servlet-name>
        <servlet-class>com.rostifar.servlets.ExchangeLetterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExchangeLetters</servlet-name>
        <url-pattern>/ExchangeLetters/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SkipTurn</servlet-name>
        <servlet-class>com.rostifar.servlets.SkipTurnServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SkipTurn</servlet-name>
        <url-pattern>/SkipTurn/*</url-pattern>
    </servlet-mapping>
</web-app>