<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>GameInquiry</servlet-name>
        <servlet-class>com.rostifar.servlets.ScrabbleInquiryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameInquiry</servlet-name>
       <url-pattern>/GameInquiry/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPlayer</servlet-name>
        <servlet-class>com.rostifar.servlets.AddPlayerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPlayer</servlet-name>
        <url-pattern>/AddPlayer/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayWord</servlet-name>
        <servlet-class>com.rostifar.servlets.PlayWordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PlayWord</servlet-name>
        <url-pattern>/PlayWord/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetLettersOnRack</servlet-name>
        <servlet-class>com.rostifar.servlets.AddLettersToRackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetLettersOnRack</servlet-name>
        <url-pattern>/GetLettersOnRack/*</url-pattern>
    </servlet-mapping>
</web-app>